










}

@media (min-width: 481px) and (max-width: 870px) {




	.cabecera {display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;}
	.cabecera ul {display: flex;
	flex-direction: column;
	margin-right: 1%;}
	
	.menu {font-size: 0.8em;}
	
	.img_boton_menu {width: 5%;}
	.boton_menu {display: block;
	text-align: right;
	margin-top: 2%;
	margin-right: 2%;}
	#boton_menu:checked + .cabecera {display: block;}
	#boton_menu {display: none;}
	.contenedor {display: flex;
	justify-content: right;}

	.biz {
		font-size: 30px;
	}
	.biz_contact {
		font-size: 30px;
	}

	.bizt {
	font-size: 15px;
	}
	.bizt button {
		height: 40%;
		}
		#sobre_nosotros {width: 80%;
			justify-content: center;
			margin: auto; }
			.divi {
				display: flex;
				flex-direction: column;
				margin-bottom: 30px;
				}
			
			.divi p {
			font-size: 23px;
			text-align: justify;
			width: 100%;
			margin-top:  10%;
			margin-bottom: auto;
			order: 1;
			height: 200px;
			overflow: scroll	
			}
			
			
			.divi2 {
				display: flex;
				flex-direction: column;
				margin-bottom: 30px;}
			
			
			.divi2 p {
				font-size: 23px;
				text-align: justify;
				margin-top: 10%;
				margin-bottom: auto;
				order: 1;
				height: 200px;
				overflow: scroll;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
			.formulario {display: none;}
#contact {
	grid-template-areas: "titulo titulo titulo titulo"
		"redes redes redes redes"
		"copi copi copi copi";
		width: 80%;
}
.contenedor_contacto div a {font-size: 50px;
	margin-top: 0%;
	
}
}
@media (min-width: 871px) and (max-width: 991px) {
	#boton_menu {display: none;}
	.img_boton_menu {display: none;}
	
	.bizt {
		font-size: 18px;
		}
		.bizt button {
			height: 50%;
			}
.divi p,
.divi2 p {font-size: 1em;
width: 100%;}
.form p {font-size: 15px;}
.check_estrella {

	width: 20px;
	height: 20px;

	background-size: 20px
}
textarea {width: 200px;
height: 100px;}
form button {width: 20%;
height: 10%;}
form button span {font-size: 0.8em;}

}


/*menu del mercado*/












/*SECCION IMAGENES INFERIORES*/





	/*RESPONSIVE MERCADO*/
	@media (max-width: 480px) {
		.logo_completo {
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 0%;
			margin-top: 20%;	
		}
		.logo_para_volver {width: 10%;
			position: absolute;
	top: 0%;
	right: 0%;}
	#menu {display: flex;
		position: static;
		top: 0;
		left: 0;
		width: 100%;
	}


.menu {font-size: 0.8em;}


.boton_menu {display: block;
color: #EFA600;}
#boton_menu:checked + .cabecera {display: block;}
#boton_menu {display: none;}
.contenedor {display: flex;
justify-content: right;}
		
		
		
.img_valeygusti {width: 100%;}

.parrafo_mercado2 {
			color: #FFFFF2;
			font-size: 1em;
			margin-bottom: 10%;
		}

		.parrafo_mercado {
			color: #FFFFF2;
			font-size: 0.7em;
			font-family: 'Quicksand', sans-serif;
			display: flex;
			justify-content: center;
margin-bottom: 20%;
			height: 170px;
			overflow: scroll;
			text-align: justify;
		}


.parrafo_mercado1 {
		color: #FFFFF2;
		font-family: 'Quicksand', sans-serif;
		font-size: 1em;
		font-weight: 100;
		text-align: justify;
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
		height: 150px;
		overflow: scroll;
		width: 90%;
		}
.img_mercadillo {width: 80%;
		}
.img_mercadillo2 {width: 80%;}

.collage1 {
	display: none;}


#contact {
	grid-template-areas: "titulo titulo titulo titulo"
		"redes redes redes redes"
		"copi copi copi copi";
		width: 100%;
}

.contenedor_contacto div a {font-size: 2em;
	padding: 10%;
	margin-top: 50%;
	}
.contenedor_contacto a:hover {transform: scale(1.3);}
.biz_contact_mercado {font-size: 1.3em;
margin-top: 10%;}


}

@media (min-width: 481px) and (max-width: 991px){
	.logo_para_volver {width: 10%;
		position: absolute;
top: 0%;
right: 0%;}
#menu {display: flex;
	position: static;
	top: 0;
	left: 0;
	width: 100%;
}


.menu {font-size: 0.8em;}


.boton_menu {display: block;
color: #EFA600;}
#boton_menu:checked + .cabecera {display: block;}
#boton_menu {display: none;}
.contenedor {display: flex;
justify-content: right;}
	
.parrafo_mercado2 {
	font-size: 1em;
}

.parrafo_mercado {
	font-size: 0.8em;
	height: 170px;
	overflow: scroll;
	text-align: justify;
}


.parrafo_mercado1 {
font-size: 1em;
height: 250px;
width: 90%;
overflow: scroll;
margin-top: 10%;
margin-bottom: 5%;
margin-right: auto;
margin-left: auto;
}
.img_mercadillo,
.img_mercadillo2 {width: 80%;}
.logo_completo {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0%;
	margin-top: 20%;	
}
.collage1 {width: 80%;
margin-left: auto;
margin-right: auto;
margin-bottom: 10%;
margin-top: 10%}
.biz_contact_mercado {font-size: 1.8em;
margin-top: 5%;}
.contenedor_contacto div a {font-size: 3em;

	margin-top: 50%;
	}
}

